html {
  font-size: 62.5%;
  height: 100%;
}

body {
  text-align: center;
  height: 100%;
}

.header {
  background-color: rgb(43, 10, 79);
  height: 100px;
  font-size: 2.5rem;
}
.left {
  float: left;
  padding: 25px;
}

.right_menu{
  float: right;
}
.right{
  padding: 25px;
  float: left;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.top_menu li a {
  color: #fff;
  text-decoration: none;
}

/* ここまでがheader部分の実装 */
.image_area{
  margin: -5px;
  width: 100%;
  height: 800px;
}
.image_area2{
  position: absolute;
    top: 400px;
    left: 670px;
}
/* main画像（白い「Achieve」の文字の画像）部分の実装 */
 .pict2{
 top:500px;
   left: 600px;}
.about {
  font-size:2rem;
/* About Achieve部分の実装 */
}

/* ここから */
.function {
  height: 500px;
  background-color:rgb(192, 193, 196);
  padding-top: 2%;
}
.function2{
  font-size: 3rem;
}
.clearfix:after{
content: "";
display: block;
clear: both;
}
.function-image {
  float: left;
  bottom: 0;
  width: 450px;
  padding-top: 5%;
}
/* ここまでがfunction部分の実装 */
.footer{
  background-color: rgb(24, 5, 56);
  height: 100px;
  width: 100%;
  bottom: 0;
  position: absolute;
}
.p_footer{
  font-size: 2rem;
  color:white;
}
.container{
  text-align: center;
  width: 100%;
  margin: 0 auto;
min-height: 100%;
position: relative;
}
